main {
    overflow-x: visible;
    white-space: nowrap;
    border: 50px solid gray;
    width: fit-content;
    font-size: 0;
}

.led-outer {
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.led {
    overflow: hidden;
    transform: scale(5);
    transform-origin: top left;
    position: absolute;
}
.led-inner {
    position: absolute;
}

.type-outer {
    height: 160px;
    width: 320px;
}
.type {
    height: 32px;
    width: 64px;
    filter: brightness(1);
}
.type-img {
    image-rendering: pixelated;
    height: 300%;
}

.dest-outer {
    height: 160px;
    width: 400px;
}
.dest {
    height: 32px;
    width: 80px;
}
.dest-img {
    image-rendering: pixelated;
    height: 300%;
}

.ami {
    position: absolute;
    background-image: url(./ami.png);
    height: 160px;
    width: 400px;
    image-rendering: pixelated;
}