main {
    overflow-x: visible;
}

.led-outer {
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.led {
    overflow: hidden;
    transform: scale(3);
    transform-origin: top left;
    position: absolute;
}
.led-inner {
    position: absolute;
}

.type-outer {
    height: 96px;
    width: 192px;
}
.type {
    height: 32px;
    width: 64px;
}
.type-img {
    image-rendering: pixelated;
    height: 300%;
}

.dest-outer {
    height: 96px;
    width: 240px;
}
.dest {
    height: 32px;
    width: 80px;
}
.dest-img {
    image-rendering: pixelated;
    height: 300%;
}

.ami {
    position: absolute;
    background-image: url(./ami.png);
    height: 96px;
    width: 288px;
    image-rendering: pixelated;
}